.loginForm {
    width: 30vw;
    padding: 20px;
    min-width: 400px;
    margin: 20px auto;  
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.loginForm .headerArea h1{
    color: dodgerblue;
}

.loginForm .headerArea p {
    color: #cccccc8d;
    margin-top: 5px;
}

.loginForm .inputFields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginForm .inputFields .inputArea {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.loginForm .inputFields .inputArea label {
    color: #ccccccb7;
}

.loginForm .inputFields .inputArea input {
    height: 45px;
    border: 1px solid #cccccc52;
    border-radius: 4px;
    background-color: #cccccc1b;
    color: #fff;
    font-size: 1rem;
    padding: 0 10px;
}

.loginForm .inputFields button {
    height: 45px;
    background-color: rgb(61, 158, 255);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.loginForm .inputFields button:hover {
    background-color: rgb(19, 137, 255);
    transform: translateY(3px);
}