.postPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.postPage .titleOfPost{
    text-align: center;
}

.postPage .titleOfPost h1 {
    color: #dbdbdb;
}

.postPage .authorInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    color: #dbdbdb;
    font-size: .85rem;
    padding: 20px 10px;
}

.postPage .editBtn {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postPage .editBtn button {
    width: 140px;
    height: 50px;
    background-color: #292b2c;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 100%;
    font-weight: bold;
    transition: all .15s ease;
    cursor: pointer;
}

.postPage .editBtn button:hover {
    background-color: #1d2020;
    transform: translateY(2px);
}

.postPage .postImage {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postPage .postImage img{
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    -webkit-user-drag: none;
    user-select: none;
}

.postPage .postDetails {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.postPage .postDetails .mainContent{
    text-align: justify;
}

.postPage .postDetails .summary{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.postPage .postDetails .summary h1,
.blue {
    color: dodgerblue;
}